body {
    max-width: 1050px;
    margin: 0 auto;
}
.header-section {
        display: flex;
    justify-content: center;
    align-items: center;
}
.nav-container {
    border: 2px solid red;
    display: flex;
    align-items: center;
    width: 50%;
}
.items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items-container a{
    text-decoration: none;
}
.popular-tour {
    background-color: aqua;
    display: flex;
}
.popular-text {
    width: 50%;
}
.popular-image {
    width: 50%;
}